02/05/17 William Benjamin Shields

This is City of Seattle Wages Compared by Gender data from a CSV file. Dataset: https://data.seattle.gov/City-Business/City-of-Seattle-Wages-Comparison-by-Gender-All-Job/cf52-s8er

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Dataset:**

In [3]:
df = pd.read_csv("City_of_Seattle_Wages___Comparison_by_Gender_-_All_Job_Classifications.csv", sep=",", header=None)

In [4]:
df = df.rename(columns={0: "Jobtitle", 1: "Female Avg Hrly Rate", 2: "No. Female Empl", 3: "Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION", 4: "Male Avg Hrly Rate", 5: "No. Male Empl", 6: "Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION", 7: "Total Avg Hrly Rate", 8: "Total No. Empl", 9: "Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION", 10: "Ratio of women's hourly rate to men's hourly rate", 11: "Notes"}).drop(0, axis=0)
df

,Jobtitle,Female Avg Hrly Rate,No. Female Empl,Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Male Avg Hrly Rate,No. Male Empl,Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Total Avg Hrly Rate,Total No. Empl,Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Ratio of women's hourly rate to men's hourly rate,Notes
1,Accountant,30.58,23,88.96,30.28,7,85.71,30.51,30,88.2,101%,NaN
2,"Accountant,Prin",38.75,23,59.96,37.64,7,7,38.49,30,47.6,102.95%,NaN
3,"Accountant,Sr",34.48,23,60.61,33.89,6,43.67,34.36,29,57.1,101.75%,NaN
4,Act Exec,43.1,4,146,42.02,7,106.29,42.42,11,120.73,102.56%,NaN
5,Actg Tech I,22.56,1,156,NaN,NaN,NaN,22.56,1,156,NaN,no men in title
6,Actg Tech I-BU,22.56,10,81.8,22.56,2,35.5,22.56,12,74.08,100%,NaN
7,Actg Tech II,23.98,7,112.71,24.35,1,75,24.03,8,108,98.49%,NaN
8,Actg Tech II-BU,24.19,74,103.23,24.21,18,134.5,24.2,92,109.35,99.95%,NaN
9,Actg Tech III,26.64,7,51.57,NaN,NaN,NaN,26.64,7,51.57,NaN,no men in title
10,Actg Tech III-BU,26.69,32,89.97,26.18,5,51.2,26.63,37,84.73,101.96%,NaN
11,Actg Tech II-MC,24.35,2,199.5,NaN,NaN,NaN,24.35,2,199.5,NaN,no men in title
12,Actg Tech Supv-BU,28.84,4,59.25,NaN,NaN,NaN,28.84,4,59.25,NaN,no men in title
13,Admin Spec I,22.35,15,129.4,21.76,2,46,22.28,17,119.59,102.7%,NaN
14,Admin Spec I-BU,22.43,78,121.04,22.43,12,91.17,22.43,90,117.06,100.01%,NaN
15,Admin Spec II,24.32,28,126.07,23.9,4,42.5,24.26,32,115.63,101.73%,NaN
16,Admin Spec II-BU,24.25,140,91.78,24.11,18,76.5,24.24,158,90.04,100.61%,NaN
17,Admin Spec III,26.1,12,78,26.26,2,94.5,26.12,14,80.36,99.39%,NaN
18,Admin Spec III-BU,25.94,30,64.9,25.93,3,53.67,25.94,33,63.88,100.03%,NaN
19,Admin Spec III-MC,26.26,1,72,NaN,NaN,NaN,26.26,1,72,NaN,no men in title
20,Admin Spec II-MC,24.35,28,129.18,24.35,2,129,24.35,30,129.17,100%,NaN
21,Admin Spec I-MC,22.56,16,145,22.56,3,123,22.56,19,141.53,100%,NaN
22,Admin Staff Anlyst,35.59,40,76.95,35,3,49,35.55,43,75,101.69%,NaN
23,Admin Staff Asst,30.86,54,65.8,30.48,8,72,30.82,62,66.6,101.26%,NaN
24,Admin Support Asst,20.61,1,77,NaN,NaN,NaN,20.61,1,77,NaN,no men in title
25,Admin Support Asst-BU,20.3,10,84.2,20.61,2,83,20.36,12,84,98.52%,NaN
26,Admin Support Asst-MC,NaN,NaN,NaN,20.61,2,219.5,20.61,2,219.5,NaN,no women in title
27,Admin Support Supv-BU,27.58,10,73.5,27.78,2,141,27.61,12,84.75,99.28%,NaN
28,Admin Support Supv-MC,27.78,4,119.25,27.78,1,158,27.78,5,127,100%,NaN
29,Administrator-Law,48.11,1,28,NaN,NaN,NaN,48.11,1,28,NaN,no men in title
30,Adms Employee,17.11,5,115.4,17.11,8,102.5,17.11,13,107.46,100%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
843,"Wtr Meter Repairer,Sr",27.67,1,183,27.67,2,146.5,27.67,3,158.67,100%,NaN
844,Wtr Pipe CC,NaN,NaN,NaN,38.42,2,158,38.42,2,158,NaN,no women in title
845,Wtr Pipe CC-WDM II,NaN,NaN,NaN,38.77,6,71,38.77,6,71,NaN,no women in title
846,Wtr Pipe Wkr,30.18,2,193.5,30.18,25,95.56,30.18,27,102.81,100%,NaN
847,Wtr Pipe Wkr Sr-WDM II,33.64,4,85,33.64,27,67.15,33.64,31,69.45,100%,NaN
848,"Wtr Pipe Wkr,Sr",NaN,NaN,NaN,32.37,10,191.2,32.37,10,191.2,NaN,no women in title
849,Wtr Pipe Wkr-WDM I,30.46,1,88,29.94,15,24.87,29.97,16,28.81,101.75%,NaN
850,Wtr Quality Anlyst,33.69,3,117,33.69,3,125.67,33.69,6,121.33,100%,NaN
851,"Wtr Quality Anlyst,Asst",31.16,2,77.5,NaN,NaN,NaN,31.16,2,77.5,NaN,no men in title
852,"Wtr Quality Anlyst,Sr",36.3,2,125.5,36.3,1,57,36.3,3,102.67,100%,NaN
853,"Wtr Quality Anlyst,Supv",39.2,1,90,39.2,1,91,39.2,2,90.5,100%,NaN
854,Wtr Quality Engr,44.74,1,171,NaN,NaN,NaN,44.74,1,171,NaN,no men in title
855,"Wtr Quality Engr,Sr",NaN,NaN,NaN,50.69,2,85,50.69,2,85,NaN,no women in title
856,Wtr Syst Op,NaN,NaN,NaN,38.58,5,140,38.58,5,140,NaN,no women in title
857,"Wtr Syst Op,Sr",41.72,1,150,41.72,1,120,41.72,2,135,100%,NaN
858,Wtr Systs Supv,NaN,NaN,NaN,47.63,2,138,47.63,2,138,NaN,no women in title
859,Wtr Treatment CC,36.3,1,173,36.3,1,164,36.3,2,168.5,100%,NaN
860,Wtr Treatment Equip Tech,NaN,NaN,NaN,33.09,1,42,33.09,1,42,NaN,no women in title
861,"Wtr Treatment Op,Sr",NaN,NaN,NaN,31.34,2,96.5,31.34,2,96.5,NaN,no women in title
862,Wtr Treatment Op-Asg Relief,NaN,NaN,NaN,29.08,1,192,29.08,1,192,NaN,no women in title
863,Wtr Treatment Op-WDM I,28.22,2,88,27.52,3,61.67,27.8,5,72.2,102.56%,NaN
864,Wtrshed Inspector,NaN,NaN,NaN,30.81,3,157,30.81,3,157,NaN,no women in title
865,"Wtrshed Inspector,Sr",34.94,1,124,NaN,NaN,NaN,34.94,1,124,NaN,no men in title
866,Wtrshed Opns Supv,NaN,NaN,NaN,39.96,1,107,39.96,1,107,NaN,no women in title
867,Wtrshed Resource Spec,NaN,NaN,NaN,36.3,1,170,36.3,1,170,NaN,no women in title
868,Wtrshed Resources Tech,NaN,NaN,NaN,34.45,1,73,34.45,1,73,NaN,no women in title
869,"Wtrworks Maint Spec,Sr-SMU",NaN,NaN,NaN,29.99,2,43,29.99,2,43,NaN,no women in title
870,Wtrworks Maint Spec-SMU,NaN,NaN,NaN,27.65,3,47,27.65,3,47,NaN,no women in title
871,Wtrworks Maint Supv,NaN,NaN,NaN,35.57,1,14,35.57,1,14,NaN,no women in title
872,Grand Total,35.35,3600,81.83,39.04,6285,78.38,37.7,9885,79.64,90.55%,NaN

**QUESTION: What is the ratio of female to male employees working for the City of Seattle?**

In [5]:
num_females = df.loc[872]["No. Female Empl"]
num_females

'3600'

In [6]:
num_males = df.loc[872]["No. Male Empl"]
num_males

'6285'

In [7]:
ratio = int(num_females) / int(num_males)
ratio

0.5727923627684964

**ANSWER: There are almost twice as many males as females working for the City of Seattle.**

**QUESTION: What percentage of job classifications only employ men? What percentage of job classifications only employ women?**

In [8]:
num_class = 872 - 1
num_class

871

In [9]:
jobs_no_men = df["Notes"].values == "no men in title"
num_jobs_no_men = np.cumsum(jobs_no_men)[-1]
num_jobs_no_men

144

In [10]:
jobs_no_women = df["Notes"].values == "no women in title"
num_jobs_no_women = np.cumsum(jobs_no_women)[-1]
num_jobs_no_women

294

In [11]:
percent_only_men = (num_jobs_no_women / num_class) * 100
percent_only_men

33.754305396096441

In [12]:
percent_only_women = (num_jobs_no_men / num_class) * 100
percent_only_women

16.532721010332953

**ANSWER: 33.7 percent of jobs only employ men. 16.5 percent of jobs only employ women. There are around twice as many jobs that employ only men as there are jobs that only employ women.**

**QUESTION: Of these jobs, how many employ fewer than five people?**

In [13]:
class_no_men = df.loc[df["Notes"] == "no men in title"]
class_no_men

,Jobtitle,Female Avg Hrly Rate,No. Female Empl,Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Male Avg Hrly Rate,No. Male Empl,Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Total Avg Hrly Rate,Total No. Empl,Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Ratio of women's hourly rate to men's hourly rate,Notes
5,Actg Tech I,22.56,1,156,NaN,NaN,NaN,22.56,1,156,NaN,no men in title
9,Actg Tech III,26.64,7,51.57,NaN,NaN,NaN,26.64,7,51.57,NaN,no men in title
11,Actg Tech II-MC,24.35,2,199.5,NaN,NaN,NaN,24.35,2,199.5,NaN,no men in title
12,Actg Tech Supv-BU,28.84,4,59.25,NaN,NaN,NaN,28.84,4,59.25,NaN,no men in title
19,Admin Spec III-MC,26.26,1,72,NaN,NaN,NaN,26.26,1,72,NaN,no men in title
24,Admin Support Asst,20.61,1,77,NaN,NaN,NaN,20.61,1,77,NaN,no men in title
29,Administrator-Law,48.11,1,28,NaN,NaN,NaN,48.11,1,28,NaN,no men in title
34,Animal Contrl Ofcr Supv,30.72,2,54,NaN,NaN,NaN,30.72,2,54,NaN,no men in title
36,Apprenticeship Coord,33.69,2,116,NaN,NaN,NaN,33.69,2,116,NaN,no men in title
40,Aquarium Laboratory Spec,26.26,1,124,NaN,NaN,NaN,26.26,1,124,NaN,no men in title
48,Arts Prgm Spec,32.35,5,56.4,NaN,NaN,NaN,32.35,5,56.4,NaN,no men in title
63,"Bailiff,Chief",29.41,1,79,NaN,NaN,NaN,29.41,1,79,NaN,no men in title
64,Benefits Asst,26.26,2,203,NaN,NaN,NaN,26.26,2,203,NaN,no men in title
70,"Bldg Plans Examiner,Sr",42.25,2,47,NaN,NaN,NaN,42.25,2,47,NaN,no men in title
82,Bridge Opns General Supv,37.39,1,76,NaN,NaN,NaN,37.39,1,76,NaN,no men in title
84,Camp Svc Aide,17.99,2,206.5,NaN,NaN,NaN,17.99,2,206.5,NaN,no men in title
85,"Camp Svc Aide,Sr",19.8,1,203,NaN,NaN,NaN,19.8,1,203,NaN,no men in title
89,"Capital Prjts Coord,Asst",38.5,3,46.67,NaN,NaN,NaN,38.5,3,46.67,NaN,no men in title
90,"Capital Prjts Coord,Chief",49.33,1,67,NaN,NaN,NaN,49.33,1,67,NaN,no men in title
99,Cblspl CC-Asg Locator,46.28,1,19,NaN,NaN,NaN,46.28,1,19,NaN,no men in title
107,"City Archivist,Asst",38.48,3,98,NaN,NaN,NaN,38.48,3,98,NaN,no men in title
128,Claims Adjuster I,31.76,1,153,NaN,NaN,NaN,31.76,1,153,NaN,no men in title
130,Code Compliance Anlyst,37.7,2,39.5,NaN,NaN,NaN,37.7,2,39.5,NaN,no men in title
131,Code Compliance Coord,43.1,1,67,NaN,NaN,NaN,43.1,1,67,NaN,no men in title
132,"Code Dev Anlyst,Sr",40.74,1,31,NaN,NaN,NaN,40.74,1,31,NaN,no men in title
144,Contract Anlyst,31.18,3,15,NaN,NaN,NaN,31.18,3,15,NaN,no men in title
149,Council Clerk,31.76,2,39,NaN,NaN,NaN,31.76,2,39,NaN,no men in title
155,Court Clerk Supv,26.8,3,28,NaN,NaN,NaN,26.8,3,28,NaN,no men in title
156,Court Interpreter Coord,39.2,1,70,NaN,NaN,NaN,39.2,1,70,NaN,no men in title
163,"Cust Svc Rep,Sr",26.18,5,40.8,NaN,NaN,NaN,26.18,5,40.8,NaN,no men in title
...,...,...,...,...,...,...,...,...,...,...,...,...
728,"StratAdvsr1,CL&PS",44.84,2,50,NaN,NaN,NaN,44.84,2,50,NaN,no men in title
736,"StratAdvsr1,Info Technol",45.22,1,19,NaN,NaN,NaN,45.22,1,19,NaN,no men in title
738,"StratAdvsr1,PC&RM",47.76,2,20.5,NaN,NaN,NaN,47.76,2,20.5,NaN,no men in title
751,"StratAdvsr2,Human Svcs",45.61,6,44.67,NaN,NaN,NaN,45.61,6,44.67,NaN,no men in title
753,"StratAdvsr2,P&FM",47.26,2,84.5,NaN,NaN,NaN,47.26,2,84.5,NaN,no men in title
760,"StratAdvsr3,Exempt-BU",50.01,1,3,NaN,NaN,NaN,50.01,1,3,NaN,no men in title
763,"StratAdvsr3,Info Technol",53.96,1,45,NaN,NaN,NaN,53.96,1,45,NaN,no men in title
773,Strucl Iron Wkr CC,46.28,1,259,NaN,NaN,NaN,46.28,1,259,NaN,no men in title
782,"Tax Auditor,Asst",31.16,1,128,NaN,NaN,NaN,31.16,1,128,NaN,no men in title
783,"Tax Auditor,Sr",36.99,1,16,NaN,NaN,NaN,36.99,1,16,NaN,no men in title
786,Temp Emplmnt Spec,33.69,1,115,NaN,NaN,NaN,33.69,1,115,NaN,no men in title
788,Tenprint Supv,35.57,2,168,NaN,NaN,NaN,35.57,2,168,NaN,no men in title
789,Title Records Tech,22.56,1,91,NaN,NaN,NaN,22.56,1,91,NaN,no men in title
798,"Treasury Cashier,Sr",34.94,1,182,NaN,NaN,NaN,34.94,1,182,NaN,no men in title
802,Trng Dev&Prgm Coord,33.69,1,116,NaN,NaN,NaN,33.69,1,116,NaN,no men in title
804,"Trng&Ed Coord,Asst",26.79,4,90.25,NaN,NaN,NaN,26.79,4,90.25,NaN,no men in title
805,"Trng&Ed Coord,Asst-BU",26.79,1,119,NaN,NaN,NaN,26.79,1,119,NaN,no men in title
809,"Usher,Head",20.81,1,97,NaN,NaN,NaN,20.81,1,97,NaN,no men in title
815,Util Acts Supv,31.91,5,56.4,NaN,NaN,NaN,31.91,5,56.4,NaN,no men in title
816,Util Astnce Supv,33.69,1,12,NaN,NaN,NaN,33.69,1,12,NaN,no men in title
819,Util Hearing Ofcr,42.25,2,68.5,NaN,NaN,NaN,42.25,2,68.5,NaN,no men in title
827,Victim Advocate Supv,36.3,1,6,NaN,NaN,NaN,36.3,1,6,NaN,no men in title
830,Volunteer Supv,26.26,1,63,NaN,NaN,NaN,26.26,1,63,NaN,no men in title
836,Workers' Comp Anlyst,35.26,5,58.4,NaN,NaN,NaN,35.26,5,58.4,NaN,no men in title
837,"Workers' Comp Anlyst,Sr",36.99,1,25,NaN,NaN,NaN,36.99,1,25,NaN,no men in title
838,Workers' Comp Spec,28.84,1,18,NaN,NaN,NaN,28.84,1,18,NaN,no men in title
839,Workers' Comp Supv,43.1,1,58,NaN,NaN,NaN,43.1,1,58,NaN,no men in title
851,"Wtr Quality Anlyst,Asst",31.16,2,77.5,NaN,NaN,NaN,31.16,2,77.5,NaN,no men in title
854,Wtr Quality Engr,44.74,1,171,NaN,NaN,NaN,44.74,1,171,NaN,no men in title
865,"Wtrshed Inspector,Sr",34.94,1,124,NaN,NaN,NaN,34.94,1,124,NaN,no men in title

In [19]:
no_men_low_num = class_no_men.loc[df["Total No. Empl"] < "5"].count()
no_men_low_num

Jobtitle                                                        135
Female Avg Hrly Rate                                            135
No. Female Empl                                                 135
Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION    135
Male Avg Hrly Rate                                                0
No. Male Empl                                                     0
Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION        0
Total Avg Hrly Rate                                             135
Total No. Empl                                                  135
Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION     135
Ratio of women's hourly rate to men's hourly rate                 0
Notes                                                           135
dtype: int64

In [20]:
class_no_women = df.loc[df["Notes"] == "no women in title"]
class_no_women

,Jobtitle,Female Avg Hrly Rate,No. Female Empl,Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Male Avg Hrly Rate,No. Male Empl,Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Total Avg Hrly Rate,Total No. Empl,Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Ratio of women's hourly rate to men's hourly rate,Notes
26,Admin Support Asst-MC,NaN,NaN,NaN,20.61,2,219.5,20.61,2,219.5,NaN,no women in title
31,Adms Personnel Dispatcher,NaN,NaN,NaN,24.1,1,161,24.1,1,161,NaN,no women in title
35,"Appraiser,Sr",NaN,NaN,NaN,43.91,1,54,43.91,1,54,NaN,no women in title
39,Aquarium Biologist 3,NaN,NaN,NaN,31.16,3,83.33,31.16,3,83.33,NaN,no women in title
41,"Aquarium Systs Op,Chief",NaN,NaN,NaN,37.7,1,268,37.7,1,268,NaN,no women in title
45,Arborist,NaN,NaN,NaN,44.74,2,164,44.74,2,164,NaN,no women in title
46,"Architect,Sr",NaN,NaN,NaN,44.74,1,49,44.74,1,49,NaN,no women in title
50,Asphalt Raker,NaN,NaN,NaN,26.94,4,42.75,26.94,4,42.75,NaN,no women in title
51,"Asphalt Raker,Sr",NaN,NaN,NaN,28.23,7,67.71,28.23,7,67.71,NaN,no women in title
52,Asst To The Supt,NaN,NaN,NaN,46.41,1,2,46.41,1,2,NaN,no women in title
53,Auto Body Wkr/Pntr,NaN,NaN,NaN,29.79,2,123,29.79,2,123,NaN,no women in title
54,Auto Engr,NaN,NaN,NaN,39.2,2,110.5,39.2,2,110.5,NaN,no women in title
55,"Auto Engr,Sr",NaN,NaN,NaN,40.74,4,27.5,40.74,4,27.5,NaN,no women in title
56,Auto Equip Pntr,NaN,NaN,NaN,29.79,1,183,29.79,1,183,NaN,no women in title
57,Auto Maint CC,NaN,NaN,NaN,36.28,4,63,36.28,4,63,NaN,no women in title
61,Auto Sheet Metal Wkr,NaN,NaN,NaN,29.79,2,181,29.79,2,181,NaN,no women in title
65,"Bldg Inspector,Journey",NaN,NaN,NaN,38.45,2,39.5,38.45,2,39.5,NaN,no women in title
66,"Bldg Inspector,Sr(Expert)",NaN,NaN,NaN,40.74,10,79.3,40.74,10,79.3,NaN,no women in title
67,"Bldg Inspector,Strucl",NaN,NaN,NaN,42.25,2,67,42.25,2,67,NaN,no women in title
68,Bldg Operating Engr,NaN,NaN,NaN,31.16,3,138.33,31.16,3,138.33,NaN,no women in title
71,Bldg/Facilities Opns Supv-BU,NaN,NaN,NaN,30.58,2,41,30.58,2,41,NaN,no women in title
72,Bridge Carpentry&Maint Lead,NaN,NaN,NaN,30.28,3,104.67,30.28,3,104.67,NaN,no women in title
73,Bridge Elecl CC,NaN,NaN,NaN,38.1,1,19,38.1,1,19,NaN,no women in title
74,Bridge Elecl Maint Supv,NaN,NaN,NaN,41.07,1,64,41.07,1,64,NaN,no women in title
75,Bridge Maint General Supv,NaN,NaN,NaN,37.34,1,55,37.34,1,55,NaN,no women in title
76,Bridge Maint Mech Hlpr,NaN,NaN,NaN,23.79,3,114,23.79,3,114,NaN,no women in title
77,Bridge Maint Mechanic,NaN,NaN,NaN,33.37,3,98,33.37,3,98,NaN,no women in title
78,Bridge Maint Mechanic CC,NaN,NaN,NaN,35.43,1,4,35.43,1,4,NaN,no women in title
81,Bridge Opns CC,NaN,NaN,NaN,34.02,1,71,34.02,1,71,NaN,no women in title
93,Carpenter CC,NaN,NaN,NaN,34.08,4,120,34.08,4,120,NaN,no women in title
...,...,...,...,...,...,...,...,...,...,...,...,...
787,Tennis Instructor,NaN,NaN,NaN,22.96,5,101.2,22.96,5,101.2,NaN,no women in title
791,Traffic Sign&Marking CC I,NaN,NaN,NaN,33.38,2,70,33.38,2,70,NaN,no women in title
799,Tree Trimmer,NaN,NaN,NaN,27.36,7,48.29,27.36,7,48.29,NaN,no women in title
800,"Tree Trimmer,Lead",NaN,NaN,NaN,30.25,4,58.25,30.25,4,58.25,NaN,no women in title
801,Tree Trimming Rep,NaN,NaN,NaN,29.96,1,41,29.96,1,41,NaN,no women in title
812,Util Act Rep Supv I,NaN,NaN,NaN,31.79,2,19.5,31.79,2,19.5,NaN,no women in title
817,Util Constr Lead Wkr,NaN,NaN,NaN,29,8,26.25,29,8,26.25,NaN,no women in title
824,Util Systs Maint Tech,NaN,NaN,NaN,27.63,4,52,27.63,4,52,NaN,no women in title
825,"Util Systs Maint Tech,Sr",NaN,NaN,NaN,29.24,2,52,29.24,2,52,NaN,no women in title
831,Warehouse Supv,NaN,NaN,NaN,34.94,1,60,34.94,1,60,NaN,no women in title
833,"Warehouser,Sr",NaN,NaN,NaN,26.5,1,176,26.5,1,176,NaN,no women in title
840,Wtr Laboratory Tech,NaN,NaN,NaN,24.07,5,121.2,24.07,5,121.2,NaN,no women in title
841,Wtr Meter Changer,NaN,NaN,NaN,25.28,1,110,25.28,1,110,NaN,no women in title
842,Wtr Meter Repairer,NaN,NaN,NaN,26.69,1,100,26.69,1,100,NaN,no women in title
844,Wtr Pipe CC,NaN,NaN,NaN,38.42,2,158,38.42,2,158,NaN,no women in title
845,Wtr Pipe CC-WDM II,NaN,NaN,NaN,38.77,6,71,38.77,6,71,NaN,no women in title
848,"Wtr Pipe Wkr,Sr",NaN,NaN,NaN,32.37,10,191.2,32.37,10,191.2,NaN,no women in title
855,"Wtr Quality Engr,Sr",NaN,NaN,NaN,50.69,2,85,50.69,2,85,NaN,no women in title
856,Wtr Syst Op,NaN,NaN,NaN,38.58,5,140,38.58,5,140,NaN,no women in title
858,Wtr Systs Supv,NaN,NaN,NaN,47.63,2,138,47.63,2,138,NaN,no women in title
860,Wtr Treatment Equip Tech,NaN,NaN,NaN,33.09,1,42,33.09,1,42,NaN,no women in title
861,"Wtr Treatment Op,Sr",NaN,NaN,NaN,31.34,2,96.5,31.34,2,96.5,NaN,no women in title
862,Wtr Treatment Op-Asg Relief,NaN,NaN,NaN,29.08,1,192,29.08,1,192,NaN,no women in title
864,Wtrshed Inspector,NaN,NaN,NaN,30.81,3,157,30.81,3,157,NaN,no women in title
866,Wtrshed Opns Supv,NaN,NaN,NaN,39.96,1,107,39.96,1,107,NaN,no women in title
867,Wtrshed Resource Spec,NaN,NaN,NaN,36.3,1,170,36.3,1,170,NaN,no women in title
868,Wtrshed Resources Tech,NaN,NaN,NaN,34.45,1,73,34.45,1,73,NaN,no women in title
869,"Wtrworks Maint Spec,Sr-SMU",NaN,NaN,NaN,29.99,2,43,29.99,2,43,NaN,no women in title
870,Wtrworks Maint Spec-SMU,NaN,NaN,NaN,27.65,3,47,27.65,3,47,NaN,no women in title
871,Wtrworks Maint Supv,NaN,NaN,NaN,35.57,1,14,35.57,1,14,NaN,no women in title

In [21]:
no_women_low_num = class_no_women.loc[df["Total No. Empl"] < "5"].count()
no_women_low_num

Jobtitle                                                        258
Female Avg Hrly Rate                                              0
No. Female Empl                                                   0
Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION      0
Male Avg Hrly Rate                                              258
No. Male Empl                                                   258
Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION      258
Total Avg Hrly Rate                                             258
Total No. Empl                                                  258
Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION     258
Ratio of women's hourly rate to men's hourly rate                 0
Notes                                                           258
dtype: int64

In [23]:
ratio_high_num_no_men = (144 - 135) / 144
ratio_high_num_no_men

0.0625

In [24]:
ratio_high_num_no_women = (294 - 258) / 294
ratio_high_num_no_women

0.12244897959183673

**ANSWER: Of 144 jobs without men, 135 employ under five people. Of 294 jobs without women, 258 employ under five people. In other words, the vast majority of jobs that do not employ either women or men are composed of small teams, as would be expected. However, of these jobs, the ratio of jobs that employ only women that employ greater than five people is 6%. The ratio of jobs that employ only men that employ greater than five people is 12%. This strikes me as a statistically significant difference.**

**QUESTION: How many job classifications pay females higher than males? How many job classifications pay males higher than females?**

In [33]:
new_df = df.drop(872, axis=0)
num_females_more = new_df.loc[new_df["Ratio of women's hourly rate to men's hourly rate"] > "100"].count()
num_females_more

Jobtitle                                                        433
Female Avg Hrly Rate                                            433
No. Female Empl                                                 433
Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION    433
Male Avg Hrly Rate                                              433
No. Male Empl                                                   433
Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION      433
Total Avg Hrly Rate                                             433
Total No. Empl                                                  433
Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION     433
Ratio of women's hourly rate to men's hourly rate               433
Notes                                                             0
dtype: int64

In [36]:
new_df = df.drop(872, axis=0)
num_males_more = new_df.loc[new_df["Ratio of women's hourly rate to men's hourly rate"] < "100"].count()
num_males_more

Jobtitle                                                        0
Female Avg Hrly Rate                                            0
No. Female Empl                                                 0
Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION    0
Male Avg Hrly Rate                                              0
No. Male Empl                                                   0
Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION      0
Total Avg Hrly Rate                                             0
Total No. Empl                                                  0
Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION     0
Ratio of women's hourly rate to men's hourly rate               0
Notes                                                           0
dtype: int64

**ANSWER:**

**QUESTION:**